* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-Stone100: #f3e6db
    --clr-Stone150:  #e4ded8;
    --clr-Stone600: #5f574e;
    --clr-Stone900: #302d2c;
    --clr-Brown800: #854632;
    --clr-Rose800: #7b284f;
    --clr-Rose50:hsl(330, 100%, 98%);
    --clr-White: #fff;
}

body {
     /* background-color: var(--clr-Stone150); */
    font-family: Outfit;
    font-size: 1rem;
}
p, li {
    letter-spacing: 1.3;
    line-height: 1.6;
}

li {
    margin-block-end: 1rem;
}

img {
    max-inline-size: 100%;
}

h1, h2, h3 {
    font-family: Young Serif, serif;
    font-weight: 400;
    color: var(--clr-Brown800);
}
h1 {
    color: var(--clr-Stone900);
}

.container {
   /* width: 1200px; */
    max-width: 80%;
    margin-inline: 20rem;
    display: flex;
    justify-content: center;
    align-self: center;
   
}

.card {
    padding: 3rem;
    border-radius: 15px;
    background-color: var(--clr-White);
}
.heading {
    margin-block: 1rem;
}

.heading h1 {
    padding-block-end: 1rem;
}
ol, ul {
    padding-inline-start: 2rem;
}

.preparation {
    padding: 1rem;
    border-radius: 10px;
   background-color: var(--clr-Rose50);
}

.preparation h3 {
    font-size: 1.2rem;
}

.custom-marker > li {
    padding-left: 1rem;
}

table {
    margin-block-start: 1.5rem;
    margin-inline-start: 2.3rem;
}

tr {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-block-end: 2rem;
    
}

tr .second {
    color: var(--clr-Brown800);
}

td {
    font-size: 2rem;
    border-block-end: 1px solid var(--clr-Stone600);
    gap: 2rem;
}
